a, a:visited {
  color: #282828; 
}

a:hover {
  color: red;
}

.heading {
    color: darkred;
    text-align: center;
    text-decoration-line: underline;
    font-size: 60px;
}

.movieList {
    text-align: center;
    width: 500px;
    font-size: 30px;
    margin: 0 auto;
    display: block;
}

.promptPage {
  text-align: center;
  width: 500px;
  font-size: 30px;
  margin: 0 auto;
  display: block;
  padding-top: 5%;
}

::placeholder {
	color: #cbd0d5;
}

/* Start of button code */
.button-82-pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    /* Need below code to center the button */
    margin: 0 auto;
    display: block;
    /* Set margins */
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .button-82-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  
  .button-82-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      to left,
      hsl(340deg 100% 16%) 0%,
      hsl(340deg 100% 32%) 8%,
      hsl(340deg 100% 32%) 92%,
      hsl(340deg 100% 16%) 100%
    );
  }
  
  .button-82-front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  
  @media (min-width: 768px) {
    .button-82-front {
      font-size: 1.25rem;
      padding: 12px 42px;
    }
  }
  
  .button-82-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
  }
  
  .button-82-pushable:hover .button-82-front {
    transform: translateY(-6px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  
  .button-82-pushable:active .button-82-front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  
  .button-82-pushable:hover .button-82-shadow {
    transform: translateY(4px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  
  .button-82-pushable:active .button-82-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  
  .button-82-pushable:focus:not(:focus-visible) {
    outline: none;
  }
/* End of button code */

#centerwrap { 
    width: 1000px; 
    margin: 0 auto;
}

/* Input field styling */
input {
  border: 20 px;
  border-width: 5px;
  border-radius: 20px;
  border-color: red;
}

#enlarged {
    font-size: 20px;
    transform: scale(1.5);
    margin-top: 5px;
    margin-bottom: 20px;
    margin-right: 10px; /* Padding between checkbox and movie names */
}